.slider__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(black),
    to(rgba(0, 0, 0, 0))
  );
  -webkit-mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
  mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(black),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}

.Carousel-buttonWrapper-5 .Carousel-button-7 {
  color: #e1e1e1;
  background-color: transparent;
  -webkit-transform: scale(2);
  transform: scale(2);
}

.Carousel-buttonWrapper-5 .Carousel-button-7:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
  background-color: transparent;
}
